.mailHandlingServices {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.mailHandlingServicesContainer1 {
  width: 100%;
}
.mailHandlingServicesContainer {
  margin: 0;
  width: 274px;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.frameChild {
  height: 49px;
  width: 28px;
  position: relative;
}
.efficientManagementOf {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 177px;
}
.benefitItems,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.benefitItems {
  width: 355px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-assistant);
}
@media screen and (max-width: 450px) {
  .mailHandlingServicesContainer {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .rectangleParent {
    flex-wrap: wrap;
  }
}
