@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georgia:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-assistant: Assistant;
  --font-jost: Jost;
  --font-georgia: Georgia;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-3xl-1: 22.1px;
  --font-size-mini-7: 14.7px;
  --font-size-2xs: 11px;
  --font-size-18xl-1: 37.1px;
  --font-size-3xl: 22px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-45xl-9: 64.9px;
  --font-size-20xl: 39px;
  --font-size-33xl: 52px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #777;
  --color-gray-200: #191c20;
  --color-gray-300: rgba(255, 255, 255, 0);
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --color-darkslategray-100: #393939;
  --color-darkslategray-200: #303a42;
  --color-darkslategray-300: #333;
  --color-darkslategray-400: #2b2f33;
  --color-darkgray-100: #b0b0b0;
  --color-darkgray-200: #acacac;
  --color-silver-100: #c2c2c2;
  --color-silver-200: #bdbdbd;
  --color-mediumslateblue: #2962ff;
  --color-dodgerblue: #4f87ff;
  --color-ghostwhite: #f2f5fe;
  --color-lightgray-100: #d7d7d7;
  --color-lightgray-200: #cbced8;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f4f3f0;
  --color-whitesmoke-300: #efefef;
  --color-orangered: #e52500;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9dbdd;
  --color-teal: #008385;
  --color-dimgray: #616161;
  --color-forestgreen-100: #4caf50;
  --color-forestgreen-200: #339636;
  --color-black: #000;

  /* Gaps */
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-4xl-5: 23.5px;
  --gap-xl: 20px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-xs: 12px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-73xl: 92px;
  --gap-4xl: 23px;
  --gap-27xl: 46px;
  --gap-32xl-5: 51.5px;
  --gap-7xl: 26px;
  --gap-sm: 14px;
  --gap-271xl: 290px;
  --gap-53xl: 72px;
  --gap-126xl: 145px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-29xl-5: 48.5px;
  --gap-25xl: 44px;
  --gap-155xl: 174px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-68xl: 87px;
  --gap-smi-4: 12.4px;
  --gap-69xl-2: 88.2px;
  --gap-12xs-6: 0.6px;
  --gap-81xl: 100px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-43xl: 62px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-8xs-4: 4.4px;
  --gap-38xl-2: 57.2px;
  --gap-2xl-8: 21.8px;
  --gap-219xl-7: 238.7px;
  --gap-41xl: 60px;
  --gap-100xl: 119px;
  --gap-95xl: 114px;
  --gap-5xl-5: 24.5px;
  --gap-27xl-5: 46.5px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-68xl-3: 87.3px;
  --gap-5xl-4: 24.4px;
  --gap-6xs: 7px;
  --gap-4xs-6: 8.6px;
  --gap-174xl-7: 193.7px;
  --gap-78xl: 97px;
  --gap-24xl-5: 43.5px;

  /* Paddings */
  --padding-64xl: 83px;
  --padding-16xl: 35px;
  --padding-35xl: 54px;
  --padding-28xl: 47px;
  --padding-sm: 14px;
  --padding-27xl: 46px;
  --padding-210xl: 229px;
  --padding-38xl: 57px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-95xl: 114px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-mid: 17px;
  --padding-121xl: 140px;
  --padding-19xl: 38px;
  --padding-40xl: 59px;
  --padding-72xl: 91px;
  --padding-6xl: 25px;
  --padding-30xl: 49px;
  --padding-5xl: 24px;
  --padding-12xs: 1px;
  --padding-11xl-9: 30.9px;
  --padding-12xs-1: 0.1px;
  --padding-5xl-9: 24.9px;
  --padding-7xl: 26px;
  --padding-mini-6: 14.6px;
  --padding-57xl: 76px;
  --padding-29xl: 48px;
  --padding-5xl-5: 24.5px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-39xl: 58px;
  --padding-87xl-6: 106.6px;
  --padding-50xl: 69px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-11xs-2: 1.2px;
  --padding-4xl-1: 23.1px;
  --padding-167xl-4: 186.4px;
  --padding-4xl-9: 23.9px;
  --padding-102xl: 121px;
  --padding-2xl-5: 21.5px;
  --padding-55xl-9: 74.9px;
  --padding-56xl-1: 75.1px;
  --padding-136xl-5: 155.5px;
  --padding-82xl: 101px;
  --padding-7xl-1: 26.1px;
  --padding-8xl-5: 27.5px;
  --padding-5xs-4: 7.4px;
  --padding-xs-7: 11.7px;
  --padding-136xl-6: 155.6px;
  --padding-47xl: 66px;
  --padding-83xl: 102px;
  --padding-smi: 13px;
  --padding-88xl: 107px;
  --padding-76xl: 95px;
  --padding-xs: 12px;
  --padding-9xs-5: 3.5px;
  --padding-9xs-6: 3.6px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-49xl: 68px;
  --padding-10xl: 29px;
  --padding-25xl: 44px;
  --padding-13xl: 32px;
  --padding-mini: 15px;
  --padding-3xl: 22px;
  --padding-426xl: 445px;
  --padding-203xl: 222px;
  --padding-289xl: 308px;
  --padding-120xl-5: 139.5px;
  --padding-45xl: 64px;
  --padding-87xl: 106px;
  --padding-17xl: 36px;
  --padding-211xl: 230px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-34xl: 53px;
  --padding-4xl: 23px;
  --padding-96xl: 115px;
  --padding-10xs: 3px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-67xl: 86px;
  --padding-418xl: 437px;
  --padding-90xl: 109px;
  --padding-2xl: 21px;
  --padding-199xl: 218px;
  --padding-24xl: 43px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-89xl: 108px;
  --padding-238xl: 257px;
  --padding-221xl: 240px;
  --padding-672xl: 691px;
  --padding-153xl: 172px;
  --padding-41xl: 60px;
  --padding-326xl: 345px;
  --padding-101xl: 120px;
  --padding-base-5: 16.5px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-mid-2: 17.2px;
  --br-9xs-1: 3.1px;
  --br-34xl-9: 53.9px;
  --br-xs-7: 11.7px;
  --br-xs-8: 11.8px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-13xl: 32px;
  --br-34xl: 53px;
  --br-xs: 12px;
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-5xl: 24px;

  /* Effects */
  --shadow: 0px 24px 128px rgba(57, 57, 57, 0.2);
}
